h1, h2, h3, h4, a, p {
    font-family: "Courier new", courier, monospace;
    color: goldenrod;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}a {
    font-size: larger;
} a:visited {
    color: yellow;
} h1 {
    font-size: 300%;
} h2 {
    font-size: xx-large;
} hr {
    border: 3px gold solid;
} body {
    border: 8px gold solid;
    border-radius: 25px;
    height: max-content;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    background-color: #000;
} html {
    background-color: rgb(35, 35, 35);
    height: 100%;
} ::-webkit-scrollbar {
    display: none;
}.header {
    border-bottom: 5px gold solid;
    padding-bottom: 5%;
} .passwd {
    border-bottom: 5px solid gold;
    padding-bottom: 6%;
    box-sizing: border-box;
} .passinput {
    border: 4px orange solid;
    border-radius: 25px;
    width: 75%;
    background-color: #000;
    font-family: "Courier new", courier, monospace;
    color: goldenrod;
    text-align: center;
} .links {
    width: 50%;
    height: fit-content;
    border: 4px orange solid;
    margin: auto;
    border-radius: 30px;
    padding: 10%;
} div {
    border: 8px gold solid;
    border-radius: 30px;
}